= title(resource.title)
%p
  %small= "Posted #{time_ago_in_words(resource.created_at)} ago"
%p= resource.content
%hr

= render "answers/form", question: resource

#question-answers
  - resource.answers.each do |answer|
    = render "answers/rendered_answer", answer: answer