.text-center{class: "voteable-#{voteable.class.name.downcase}-#{voteable.id}"}
  = render "votes/form", voteable: voteable, direction: Vote::DIRECTIONS.first
  %p.lead.vote-count= voteable.vote_count
  = render "votes/form", voteable: voteable, direction: Vote::DIRECTIONS.last    